# FileVault C++20 Code Style
---
Language: Cpp
BasedOnStyle: Google

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4

# Line breaks
ColumnLimit: 100
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Pointer/Reference alignment
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<botan/'
    Priority:        1
  - Regex:           '^<fmt/'
    Priority:        2
  - Regex:           '^<spdlog/'
    Priority:        2
  - Regex:           '^<CLI11/'
    Priority:        2
  - Regex:           '^<nlohmann/'
    Priority:        2
  - Regex:           '^<[a-z_]+>'
    Priority:        3
  - Regex:           '^<.*\.h>'
    Priority:        4
  - Regex:           '^"filevault/'
    Priority:        5
  - Regex:           '^".*"'
    Priority:        6

# Namespace
NamespaceIndentation: None
CompactNamespaces: false

# C++20 features
Standard: c++20

# Other
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
